@import "variables";

@action-bar-padding-top:      22px;
@action-bar-height:           34px;

@action-bar-text-size:        13px;
@action-bar-background-color: @workspace-background-color;//#21252b;
@action-bar-border-color:     @pane-border-color;
@action-bar-border-width:     0px; //@pane-border-width;

.action-bar
{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: @action-bar-text-size;
    background: @action-bar-background-color;
    // border-bottom: @action-bar-border-width solid @action-bar-border-color;
    padding-top: @action-bar-padding-top;
    height: @action-bar-height + @action-bar-padding-top + @action-bar-border-width;
    transition: border-color ease 0.2s;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    z-index: 12;

    .action
    {
        flex: 0 1 auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.action-bar-left, .action-bar-right
{
    // flex: 1;
    display: flex;
}

.action-bar-right
{
    justify-content: flex-end;
}
