@import "variables";
@import "ui-variables";

@omnibar-results-background: #111;//@dock-background-color;

.omnibar
{
    -webkit-font-smoothing: antialiased;
    flex: 1;
    z-index: 12;
    position: static;

    &::after, &::before
    {
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 0;
        background: @primary-color;
        transition: width 0.18s cubic-bezier(0.455, 0.03, 0.515, 0.955), background-color ease 0.18s;
    }

    .omnibar-input
    {
        display: flex;
        align-items: center;
        font-family: Inconsolata;
        font-size: 16px;
        font-weight: 700;
        height: 34px;
        line-height: 30px;
        padding: 0 0 4px;
        margin: 0 10px 0 0;
        position: relative;

        .scope, .caret
        {
            margin-right: 12px;
            transition: color ease 0.2s;
            color: @text-color-subtle;
        }

        .caret
        {
            text-align: center;
            width: 10px;
            margin-right: 11px;
        }

        .bolt
        {
            margin: 0 5px 0 6px;

            path
            {
                fill: @text-color-subtle;
                transition: fill ease 0.2s;
            }
        }

        .search
        {
            -webkit-appearance: none;
            background: transparent;
            border: 0;
            height: 30px;
            line-height: 30px;
            display: block;
            padding: 0;
            flex: 1;
        }

        .keybindings
        {
            display: flex;
            align-items: center;
            font-size: 12px;
            color: @text-color-subtle;
            opacity: 0;
            transition: opacity ease 0.2s;

            kbd, div
            {
                margin: 0 8px 0 6px;
                display: block;
                font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
                font-weight: 400;
                -webkit-font-smoothing: auto;

                &:last-child
                {
                    margin-right: 0;
                }
            }

            kbd
            {
                background: @text-color-subtle;
                color: #1B1B1B;
                border-radius: 2px;
                height: 14px;
                line-height: 14px;
                margin-right: 0;
                font-weight: 700;
                font-size: 10px;
                padding: 0 3px;
            }
        }
    }

    &.is-focused
    {
        .omnibar-results
        {
            display: block;
        }

        .omnibar-input
        {
            .scope, .caret
            {
                color: @primary-color;
            }

            .bolt path
            {
                fill: @primary-color;
            }
        }

        .keybindings
        {
            opacity: 1;
        }

        &::after
        {
            width: 100%;
        }
    }

    &.is-error
    {
        .omnibar-input
        {
            .scope, .caret
            {
                color: @background-color-error;
            }

            .bolt path
            {
                fill: @background-color-error;
            }
        }

        .omnibar-results
        {
            display: none;
        }

        &::after
        {
            background: @background-color-error;
        }
    }
}

.omnibar-results
{
    display: none;
    position: absolute;
    width: 100%;
    background: @omnibar-results-background;//@pane-background-color;
    top: 57px;
    // min-height: 100px;
    max-height: 600px;
    overflow: auto;
    z-index: 13;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
    border-bottom: @pane-border-width solid @pane-border-color;
    padding-bottom: 20px;

    ol
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .header
    {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        color: @text-color-subtle;
        height: 16px;
        line-height: 16px;
        margin: 30px 0 8px 82px;
    }

    li
    {
        font-family: Inconsolata;
        font-weight: 700;
        font-size: 16px;
        color: @text-color;
        height: 30px;
        line-height: 30px;
        margin: 2px 0;
        display: flex;
        align-items: center;

        kbd
        {
            position: relative;
            width: 82px;
            padding: 0 10px 0 12px;
            color: @text-color-subtle;
            -webkit-font-smoothing: auto;
            letter-spacing: 0.1em;
            font-size: 13px;
            font-weight: 400;
            font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
        }

        .name
        {
            flex: 1;
            min-width: 200px;
            position: relative;

            span
            {
                position: relative;

                &::after
                {
                    position: absolute;
                    content: "";
                    bottom: -3px;
                    height: 1px;
                    left: 0;
                    right: 0;
                    background: @primary-color; //@text-color-subtle;
                }
            }
        }

        .description
        {
            flex: 2;
            position: relative;
        }

        &.selected
        {
            &::before
            {
                position: absolute;
                left: 0;
                right: 0;
                background: @pane-background-color;
                width: 100%;
                height: 30px;
                content: "";
            }
        }
    }
}
